<html>
  <head></head>
  <body>
    <p>
    HANGMAN
    </p>
    <p>
    Gallows
    </p>
    <button style="height:40px;width:40px">A</button>
    <button style="height:40px;width:40px">B</button>
    <button style="height:40px;width:40px">C</button>
    <button style="height:40px;width:40px">D</button>
    <button style="height:40px;width:40px">E</button>
    <button style="height:40px;width:40px">F</button>
    <button style="height:40px;width:40px">G</button>
    <br>
    <button style="height:40px;width:40px">H</button>
    <button style="height:40px;width:40px">I</button>
    <button style="height:40px;width:40px">J</button>
    <button style="height:40px;width:40px">K</button>
    <button style="height:40px;width:40px">L</button>
    <button style="height:40px;width:40px">M</button>
    <br>
    <button style="height:40px;width:40px">N</button>
    <button style="height:40px;width:40px">O</button>
    <button style="height:40px;width:40px">P</button>
    <button style="height:40px;width:40px">Q</button>
    <button style="height:40px;width:40px">R</button>
    <button style="height:40px;width:40px">S</button>
    <br>
    <button style="height:40px;width:40px">T</button>
    <button style="height:40px;width:40px">U</button>
    <button style="height:40px;width:40px">V</button>
    <button style="height:40px;width:40px">W</button>
    <button style="height:40px;width:40px">X</button>
    <button style="height:40px;width:40px">Y</button>
    <button style="height:40px;width:40px">Z</button>
  </body>
</html>